#set_io LED[0] B5
#set_io LED[1] B4
#set_io LED[2] A2
#set_io LED[3] A1
#set_io LED[4] C5
#set_io LED[5] C4
#set_io LED[6] B3
#set_io LED[7] C3
set_io crystal_clk J3
set_io STM32_PIN R16
set_io aNE N12
set_io aNOE T13
set_io aNWE P13

set_io aA[0] R4
set_io aA[1] R3
set_io aA[2] T3
set_io aA[3] R2
set_io aA[4] T2
set_io aA[5] T1
set_io aA[6] T5
set_io aA[7] R5

set_io aD[0] N10
set_io aD[1] M11
set_io aD[2] T16
set_io aD[3] T14
set_io aD[4] T6
set_io aD[5] R6
set_io aD[6] T7
set_io aD[7] T8
set_io aD[8] T9
set_io aD[9] R9
set_io aD[10] P8
set_io aD[11] P9
set_io aD[12] T10
set_io aD[13] R10
set_io aD[14] T11
set_io aD[15] P10

set_io uart_tx_in T15
set_io uart_tx_out B12

set_io red[0] G15
set_io red[1] F15
set_io red[2] E14
set_io green[0] J14
set_io green[1] F14
set_io green[2] H14
set_io blue[0] M16
set_io blue[1] L16
set_io blue[2] K16
set_io hsync D15
set_io vsync D14
