set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io crystal_clk J3
set_io STM32_PIN R16
set_io aNE N12
set_io aNOE T13
set_io aNWE P13
set_io aA1 R4
set_io aA2 R3
set_io aD0 N10
set_io aD1 M11
set_io aD2 T16
set_io uart_tx_in T15
set_io uart_tx_out B12
