set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io crystal_clk J3
set_io STM32_PIN P16
set_io aNE G15
set_io aNOE H14
set_io aNWE F14
set_io aA1 E14
set_io aD0 F15
set_io aD1 F16
set_io aD2 G16
set_io uart_tx_in J14
set_io uart_tx_out B12
